extends templates/template
block banner
	.main-banner
		.ed-container
			.ed-item.banner-container
				img(src="img/img-2.jpg")
block aboutUs
	.ed-container
		.ed-item.m-50.l-25
			.about-us
				h2.about-us__titlen Latest Proyect
				img(src="img/img-1.jpg").about-us__img
				p.about-us__conten   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quod libero deserunt pariatur ipsam harum, minus, praesentium soluta sint suscipit error. Doloribus ut, reiciendis eum ex natus facere voluptatem quia.
				a(href="#").about-us__cta Leer mas
		.ed-item.m-50.l-25
			.about-us
				h2.about-us__titlen Latest Proyect
				img(src="img/img-1.jpg").about-us__img
				p.about-us__conten   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quod libero deserunt pariatur ipsam harum, minus, praesentium soluta sint suscipit error. Doloribus ut, reiciendis eum ex natus facere voluptatem quia.
				a(href="#").about-us__cta Leer mas
		.ed-item.m-50.l-25
			.about-us
				h2.about-us__titlen Latest Proyect
				img(src="img/img-1.jpg").about-us__img
				p.about-us__conten   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quod libero deserunt pariatur ipsam harum, minus, praesentium soluta sint suscipit error. Doloribus ut, reiciendis eum ex natus facere voluptatem quia.
				a(href="#").about-us__cta Leer mas
		.ed-item.m-50.l-25
			.about-us
				h2.about-us__titlen Latest Proyect
				img(src="img/img-1.jpg").about-us__img
				p.about-us__conten   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quod libero deserunt pariatur ipsam harum, minus, praesentium soluta sint suscipit error. Doloribus ut, reiciendis eum ex natus facere voluptatem quia.
				a(href="#").about-us__cta Leer mas
block footer
	.ed-container.footer
		.ed-item
			p.footer__copy & copy-reigt - 2017 Practica
